* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2,
section h3,
form button {
    font-family: "Winky Sans", sans-serif;
}

body {
    font-family: "Anton", sans-serif;
    background-color: #bfa7e2; /* Roxo pastel escuro */
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1,
section h2 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

/* Deixa imagem e texto juntos apenas na primeira seção */
section:nth-of-type(1) .container {
    justify-content: flex-start;
    gap: 8px;
}

/* Imagem principal menor */
.store-front {
    max-width: 400px;
    height: auto;
    margin-right: 0;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section {
    padding: 24px 0;
    color: #182c61;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.social-links img {
    height: 24px;
}

.social-links {
    display: inline;
    margin-right: 8px;
}

.social-links a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.contact-methods > div {
    margin-right: 32px;
}

.contact-methods > div:last-child {
    margin-right: 0;
    text-align: center;
}

.contact-methods > div:last-child img {
    display: block;
    margin-top: 16px;
    max-width: 300px;
    height: auto;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
}

form button {
    background-color: #182c61;
    color: #fff;
}

.brands-list,
.social-links {
    list-style: none;
    padding-left: 0;
}

.brands-list img,
.social-links img {
    height: 80px;
}

.brands-list img {
    height: 40px;
}

.contact-methods > div:last-child li {
    list-style: none;
}